.carousel {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
}

.carousel__inner {
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.carousel__contents {
    display: flex;
    position: absolute;
    transition: 1s all;
    cursor: grab;
}

.carousel__slide {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.carousel-nav {
    position: absolute;
    display: flex;
    bottom: -20px;
}

.carousel-nav__item img  {
    width: 100px;
    height: 70px;
    margin: 0 5px;
    opacity: .80;
    cursor: pointer;
}

.carousel-nav__item_active img {
    opacity: 1;
    border: solid #2d62f5 3px;
}