.carousel {
    display: flex;
    width: 100%;
    justify-content: center;
}

.carousel__inner {
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.carousel__contents {
    display: flex;
    position: absolute;
    transition: 1s all;
}

.carousel__slide {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}